.sidebar{
    height: 100%;
    width: 8%;
    background-color: #135DA7;
}

.icons {
    height: 30px;
    padding:  0px 8px 0px;
}

.navLink{
    color:#0C2338;
    
}

.nav-item {
    padding:  13px 0px 20px 7px;
    font-size: 15px;
}

.nav-item:hover {
    background-color: white;
}

.nav.flex-column {
    padding: 150% 0px 0px;
}

