
.activity {
    background: rgb(223, 215, 215);
    font-size: 15px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    padding: 5px;
    margin:  1px; 
    word-break: break-all;
}