
.activity {
    background: rgb(223, 215, 215);
    font-size: 15px;
    min-width: 10px;
    min-height: 100%;
    border: 1px solid white;
    padding: 5px;
    margin:  1px; 
    word-break: break-all;
}

.statusAlert{
    border-radius:30px;
    width:63px;
    font-size: 10px;
    padding: 2%;
    text-align: center;
}